/* Additional styles for the carousel buttons */
.button-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
  }
  
  .carousel-button {
    padding: 10px 4vw; /* Use relative unit (viewport width) for padding */
    font-size: 1rem; /* Use relative unit (root em) for font size */
    background-color: #424769;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .carousel-button.right-button {
    margin-right: 2vw; /* Use relative unit for margin */
  }
  
  .carousel-button:hover {
    background-color: #4c5279;
  }
  
  /* Responsive styles */
  @media (max-width: 768px) {
    .carousel-button {
      padding: 10px 3vw; /* Adjust padding for smaller screens */
    }
  
    .carousel-button.right-button {
      margin-right: 0vw; /* Adjust margin for smaller screens */
    }
  }
  
  @media (max-width: 480px) {
    .carousel-button {
      padding: 10px 2vw; /* Further adjust padding for even smaller screens */
    }
  
    .carousel-button.right-button {
      margin-right: 0.5vw; /* Further adjust margin for even smaller screens */
    }
  }
  