body {
  margin: 0;
  padding: 0;
  background-color: #333; /* Dark grey background color */
  color: #fff; /* Text color */
  font-family: 'Arial', sans-serif;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.three-container {
  margin-top: 20px;
  background-color: #444; /* Darker grey background color for Three.js container */
}

.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}